.navList{
    margin-right: 10px;
}

.nav{
    float: right;
}

.row_header{
    float:right;
}

.row_block{
    height: 50px;
    background-color: black;

}

.row_title h1{
    position: relative;
    text-align:center;
    background-color: #000080;
    color: white;
}

.row_content{
    background-color: black;
    color: white;

}

a{
    margin-left: 10px;
}